$theme-colors: (
    "primary": #0070eb,
    "secondary": #007CAA,
    "danger": #E3170B,
    "dark": #2b2b2b,
    "blue": #3232aa,
    "light": #E3E3E3,
    "muted": #727272,
    "light-blue": #EBF7FC,
    "yellow": #F8D945,
    "dark-yellow": #F5A623,
    "dark-grey": #F3F3F3,
    "light-grey": #adadad,
    "gray-lighter": #e9e9e9,
    "dark-blue": #006084,
    "light-red": #FFDEDA,
    "white": #ffffff,
    "green": #4CAF50,
);

$border-color: #979797;
$border-color-light: unquote('#97979733');
$table-head: unquote('#97979733');
$modal-color: #00080B;
$placeholder: #BFBFBF;
