.footer-section {
  color: #fff;
  @media only screen and (max-width: 600px) {
    width: 100% !important;
  }
  .footer-links {
    padding: 30px;
  }
  .copyright-section {
    padding: 30px;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
      .footer-link {
        padding-top: 10px;
        width: 100% !important;
        justify-content: center !important;
      }
    }
    a {
      margin-right: 30px;
    }
  }
}