.menuitem-options-wrapper {
 border-radius: 4px;
 .modal-body {
	padding: 0px;
	 overflow-y: auto;
   height: calc(100vh - 60px);
	.item-header {
	  height: 300px;
	  position: relative;
	  .close-icon {
	    cursor: pointer;
	  	width: 36px;
	  	height: 36px;
	  	background: #fff;
	  	border-radius: 50%;
	  	left: 24px;
	    top: 16px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	  }
	  .item-info {
	  	  bottom: 40px;
		    left: 24px;
		    position: absolute;
		    padding: 10px;
		    background-color: hsla(0,0%,100%,.75);
		    transition: background-color .2s ease-in-out;
		    border-radius: 4px;
		    font-size: 14px;
		    color: rgba(0,0,0,.87);
	   	.item-title {
				font-weight: 400;
				color: #000;
				margin-bottom: 5px;
			}
			span{
			  color: #000;
			  font-size: 18px;
			}
		}
	}
	.item-options {
		padding: 16px 32px;
		.desc {
			font-size: 16px;
			font-weight: 400;
			color: #000;
			margin-bottom: 16px !important;
		}
		.quantity-wrapper {
			display: flex;
			font-size: 18px;
			font-weight: 400;
			color: #000;
			align-items: center;
			.quantity {
				display: flex;
				align-items: center;
				margin-left: 16px;
				input {
					margin: 0px 8px !important;
					width: 44px;
					border: 2px solid #cacaca;
					&:focus {
						border-color: #3232aa !important;
					}
				}
				span {
					width: 36px;
					height: 36px;
			    border: 2px solid #cacaca;
			    border-radius: 50%;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    color: #cacaca;
			    cursor: pointer;
			    &:hover {
			    	border: 2px solid #3232aa !important;
			    	color: #3232aa;
			    }
				}
			}
		}
		.item-choice {
			&:before {
				background: url('../images/flag_vertical.svg') no-repeat;
			}
		}
	}
 }	
}