.product-card {
	&:hover  {
		box-shadow: rgba(67, 41, 163, 0.2) 0px 0px 0px 1px, rgba(67, 41, 163, 0.2) 0px 1px 12px 0px !important;
		cursor: pointer;
		.product-info, .menuitem-price {
			background-color: #fff !important;
		}
	}
	.card-body {
		.product-img {
			width: 150px;
  		height: 120px;
  		position: relative;
  		img {
  		 	height: 100%;
  		 	width: 100%;
  		 	border-top-right-radius: 4px;
  		 	border-bottom-right-radius: 4px;
  		}
  		.menuitem-price {
  			position: absolute;
		    top: 8px;
		    right: 8px;
		    padding: 2px 5px;
		    transition: background-color .2s ease-in-out;
        background-color: hsla(0,0%,100%,.75);
        color: rgba(0,0,0,.87);
        font-size: 16px;
        border-radius: 4px;
  		}
		}
	}
}