@font-face {
	font-family: 'GT Walsheim Pro Light';
    src: url('../fonts/GT-Walsheim-Pro-Light.eot') format('eot'),
    url("../fonts/GT-Walsheim-Pro-Light.otf") format('opentype'),
    url("../fonts/GT-Walsheim-Pro-Light.ttf") format('truetype'),
    url("../fonts/GT-Walsheim-Pro-Light.woff") format('woff'),
    url("../fonts/GT-Walsheim-Pro-Light.woff2") format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GT Walsheim Pro Medium';
    src: url('../fonts/GT-Walsheim-Pro-Medium.eot') format('eot'),
    url("../fonts/GT-Walsheim-Pro-Medium.otf") format('opentype'),
    url("../fonts/GT-Walsheim-Pro-Medium.ttf") format('truetype'),
    url("../fonts/GT-Walsheim-Pro-Medium.woff") format('woff'),
    url("../fonts/GT-Walsheim-Pro-Medium.woff2") format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GT Walsheim Pro Regular';
    src: url('../fonts/GT-Walsheim-Pro-Regular.eot') format('eot'),
    url("../fonts/GT-Walsheim-Pro-Regular.otf") format('opentype'),
    url("../fonts/GT-Walsheim-Pro-Regular.ttf") format('truetype'),
    url("../fonts/GT-Walsheim-Pro-Regular.woff") format('woff'),
    url("../fonts/GT-Walsheim-Pro-Regular.woff2") format('woff2');
	font-weight: normal;
	font-style: normal;
}

@import "colors";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/react-datepicker/src/stylesheets/datepicker";
//@import "~node_modules/react-notifications-component/dist/theme.css";
@import "bootstrap-overrides";
@import "atomic";
@import "global";
@import "header";
@import "footer";
@import "cart-drawer";
@import "listing";
@import "product";
@import "dialog";
@import "menuitem-options-dialog";
@import "order-type-dialog";
@import "input";
@import "checkout";
@import "success";
@import "order-list";
@import "profile";


html {
    body {
        font-family: 'GT Walsheim Pro Regular';
        overflow-x: hidden;
        @extend .font-regular;
        color: theme-color('dark');
        background: #fbfbfc;
        #root {
            overflow-x: hidden;
        }

        main {
            min-height: 75vh;
        }

        .overlay {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            z-index: 9998;
            opacity: 0;
            top: 0;
            transition: all 0.5s ease-in-out;
        }

        .overlay.active {
            display: block;
            opacity: 1;
        }

        .loader > div {
            position: absolute;
            top: 40%;
            left: 50%;
            margin: -115px 0px 0px -115px;
        }

        .navbar-toggler {
            border: none;
            .navbar-toggler-icon {
                display: none;
            }
        }
    }
}
